<!DOCTYPE html>
<html>
<head>
<style>
.my_custom_table {
  font-family: arial, sans-serif;
  width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.my_custom_table td {
  text-align: center;
  padding: 4px;
}

</style>
</head>
<body style="text-align: center;">

<table class="my_custom_table" border=1>
  <tr>
    <td colspan="3" bgcolor="lightblue">Academic Qualifications</td>
    <td colspan="1" bgcolor="lightblue">Year Awarded</td>
  </tr>
  <tr>
    <td rowspan="2" align="center" width="200">Bachelor Of Engineering</td>
    <td colspan="2" style="text-align: left;">The University of Cambridge</td>
    <td colspan="2" style="text-align: left;">1999</td>
  </tr>
  <tr>
    <td colspan="4" bgcolor="lightblue">First Class Honours</td>
  </tr>
  <tr>
    <td rowspan="2" align="center" width="250px">Master Of Computer Science</td>
    <td colspan="2" style="text-align: left;">The University of Tokyo</td>
    <td colspan="2" style="text-align: left;">2006</td>
  </tr>
  <tr>
    <td colspan="4" bgcolor="lightblue">The Best Student Of The Year</td>
  </tr>
  <tr>
    <td rowspan="2" align="center" width="200">Doctor of Medicine</td>
    <td colspan="2" style="text-align: left;">The University of Singapore</td>
    <td colspan="2" style="text-align: left;">2015</td>
  </tr>
  <tr>
    <td colspan="4" bgcolor="lightblue">The Best Thesis Award</td>
  </tr>
</table>

</body>
</html>